<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>飞机票查询</title>

    <style>
        table, th , td  {
          border: 1px solid grey;
          border-collapse: collapse;
          padding: 5px;
        }
        table tr:nth-child(odd) {
          background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
          background-color: #ffffff;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <td>航空公司</td>
    <td>航班</td>
    <td>机型</td>
    <td>出发地</td>
    <td>目的地</td>
    <td>出发时间</td>
    <td>到达时间</td>
    <td>票价</td>
    {% for item in items %}
    <tr>
        <td>{{ item.airline }}</td>
        <td>{{ item.uniq_key }}</td>
        <td>{{ item.model }}</td>
        <td>{{ item.dep_airport }}</td>
        <td>{{ item.arv_airport }}</td>
        <td>{{ item.dep_time }}</td>
        <td>{{ item.arv_time }}</td>
        <td>{{ item.price }}</td>
    </tr>
    {% endfor%}
    </tbody>

</table>



</body>
</html>