<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}</style>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=GzVtCw9asuvgprsG0i2Ip4xuC4RDogpq"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="allmap"></div>
                <div id="panel"></div>
    <div id="left-panel" class="left-panel">
        <div id="searchbox" class="clearfix">

        <div id="searchbox-container">
          <div id="sole-searchbox-content" class="searchbox-content" style="display: none;">
            <input id="sole-input" class="searchbox-content-common" type="text" name="word" autocomplete="off" maxlength="256" placeholder="搜地点、查公交、找路线" value="" />
            <div class="input-clear" title="清空" style="display: none;"></div>
            <div class="searchbox-content-button right-button route-button loading-button" data-title="路线" data-tooltip="1"></div>
          </div>
          <div id="route-searchbox-content" class="searchbox-content route-searchbox-content bus">
            <div class="route-header">
              <div class="searchbox-content-common route-tabs">
                <div class="tab-item bus-tab" data-index="bus">
                  <i>
                  </i>
                  <span>公交</span></div>
                <div class="tab-item drive-tab" data-index="drive">
                  <i>
                  </i>
                  <span>驾车</span></div>
                <div class="tab-item walk-tab" data-index="walk">
                  <i>
                  </i>
                  <span>步行</span></div>
                <div class="tab-item bike-tab" data-index="bike">
                  <i>
                  </i>
                  <span>骑行</span></div>
                <div class="arrow-wrap"></div>
              </div>
              <div class="searchbox-content-button right-button cancel-button loading-button" data-title="关闭路线" data-tooltip="3"></div>
            </div>
            <div class="routebox">
              <div class="searchbox-content-common routebox-content">
                <div class="routebox-revert" title="切换起终点">
                  <div onclick="revertAddr()" class="routebox-revert-icon"></div>
                </div>
                <div class="routebox-inputs">
                  <div class="routebox-input route-start">
                    <div class="route-input-icon"></div>
                    <input id="tipa" maxlength="256" placeholder="输入起点或在图区上选点" class="route-start-input" type="text" value=""/>
                    <div class="input-clear" title="清空" style="display: block;"></div>
                    <div class="route-input-add-icon"></div>
                  </div>
                  <div class="routebox-input route-end">
                    <div class="route-input-icon"></div>
                    <input id="tipb" onfocus="arriveInput()" onblur="outInput()" maxlength="256" placeholder="输入终点或在图区上选点" class="route-end-input" type="text" value="" />
                    <div class="input-clear" title="清空" style="display: block;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="search-button" data-title="搜索" data-tooltip="2">
        </button>

      </div>
        <ul id="cards-level1" class="cardlist"></ul>
    </div>
    <div class="tipinfo"></div>
    <div id="searchResultPanel"></div>
    <div id="historya" class="tipinfo"></div>
    <div id="historyb" class="tipinfo"></div>
    <div class="bt-info">
        <div><a id="gotrain">高铁票</a></div>
    </div>
  </body>
  <script src="/static/js/index.js" type="text/javascript"></script>
<script type="text/javascript">
    function arriveInput() {
        $("#cards-level1").addClass('clear')
    }
    function outInput() {
        $("#cards-level1").removeClass('clear');
        console.log("remove")
    }
</script>
</html>