<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>火车，高铁票查询</title>

    <style>
        table, th , td  {
          border: 1px solid grey;
          border-collapse: collapse;
          padding: 5px;
        }
        table tr:nth-child(odd) {
          background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
          background-color: #ffffff;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<table>
    <tbody>
    <td>车号</td>
    <td>日期</td>
    <td>出发地</td>
    <td>目的地</td>
    <td>出发时间</td>
    <td>到达时间</td>
    <td>历时</td>
    <td>商务座</td>
    <td>一等座</td>
    <td>二等座</td>
    <td>软卧</td>
    <td>硬卧</td>
    <td>状态</td>
    <td>票价</td>
    {% for item in result %}
    <tr>
        <td>{{ item.car_no }}</td>
        <td>{{ item.departure_date }}</td>
        <td>{{ item.start }}</td>
        <td>{{ item.end }}</td>
        <td>{{ item.start_time }}</td>
        <td>{{ item.end_time }}</td>
        <td>{{ item.time }}</td>
        <td>{{ item.swz }}</td>
        <td>{{ item.ydz }}</td>
        <td>{{ item.edz }}</td>
        <td>{{ item.rw }}</td>
        <td>{{ item.yw }}</td>
        <td>{{ item.status }}</td>
        <td><button onclick="getprice(this)"
                    car_id="{{ item.car_id }}"
                    date="{{ item.departure_date }}"
                    from_station_no="{{ item.from_station_no }}"
                    to_station_no="{{ item.to_station_no }}"
                    seat_types="{{ item.seat_types }}">
            查看票价
        </button></td>
    </tr>
    {% endfor%}
    </tbody>
</table>
</body>
<script type="text/javascript">
    function getprice(e) {
        let data={
            "train_no":e.getAttribute("car_id"),
            "date":e.getAttribute("date"),
            "from_station_no":e.getAttribute("from_station_no"),
            "to_station_no":e.getAttribute("to_station_no"),
            "seat_types":e.getAttribute("seat_types")
        };
        $.ajax({
            url:'/trip/getprice/',
            data:JSON.stringify(data),
            type:"POST",
            contentType:"application/json",
            success:function (res) {
                let tr=e.parentNode.parentNode;
                let priceTag="<tr>" +
                    "<td></td>" +
                    "<td></td>" +
                    "<td></td>" +
                    "<td></td>" +
                    "<td></td>" +
                    "<td></td>" +
                    "<td></td>" +
                    "<td>" +res.swz+"</td>" +
                    "<td>" +res.ydz+"</td>" +
                    "<td>" +res.edz+"</td>" +
                    "<td>" +res.rw+"</td>" +
                    "<td>" +res.yw+"</td>" +
                    "<td></td>" +
                    "<td></td>" +
                    "</tr>";
                $(tr).after(priceTag);
            }
        });
    }
</script>
</html>